.prevNext{
    color: #F08267;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 4rem;
    
    &__button{
        text-decoration: none;
        padding: 2rem;

        &:hover{
            color: #859479;
        }

        &:visited{
            color: #F08267;
            text-decoration: none;
        }
    }
}