*{
    margin: 0;
    box-sizing: border-box;
}

body,
html{
    background-color: #FDE7BE;
    color: rgb(85, 104, 69);
    font-family: 'Courier New', Courier, monospace;
}

.notifyButton{
    margin: 1rem;
    border-bottom: 2px solid #859479;
    border-right: 2px solid #859479;
    border-left: 2px solid rgb(255, 247, 236);
    border-top: 2px solid rgb(255, 247, 236);
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F08267;
    color: #FDE7BE;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: bold;
}

.notifyButton:hover{
    background-color: #859479;
    color: #F08267;
    cursor: pointer;
    border-top: 2px solid #F08267;
    border-left: 2px solid #F08267;
    border-bottom: 2px solid rgb(255, 247, 236);
    border-right: 2px solid rgb(255, 247, 236);
}
